{% extends 'base.html.twig' %}

{% block title %}Edit Editeur{% endblock %}

{% block body %}
    <h1>Edit Editeur</h1>
<br>
    {{ include('editeur/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
