{% extends 'base.html.twig' %}

{% block title %}New Editeur{% endblock %}

{% block body %}
    <h1>Creation d'un nouvel editeur</h1>
    <br>
    {{ include('editeur/_form.html.twig') }}

{% endblock %}
