{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>
<br>
    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
