{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Creation d'un nouvelle categorie</h1>
    <br>

    {{ include('categorie/_form.html.twig') }}


{% endblock %}
